body{
	background-color:grey;
}
p{
	color:white;
}
ul{
	color:white;
	text-decoration:none;
	display:inline;
}
h1{
	text-align:center;
}
nav{
	border:3pt solid;
	border-color:black;
	border-style:double;
}